In [1]:
import pandas as pd # pandas handles panel data
import json # Allows automatic conversion to json data format

import pymongo # Connectivity package for MongoDB
from pymongo import MongoClient #We just want the MongoClient part today

In [2]:
uri = 'mongodb://admin:Sp00ky!@localhost:27017/?AuthSource=admin'
client = MongoClient(uri)

In [3]:
df = pd.read_csv('airports.csv', sep = ',', delimiter = None,encoding='latin-1')
# First, let's check the columns we have and make sure the names are okay and we want all of them.
print('DataFrame columns')
print(df.columns)
#Then print the shape - in this case, the number of rows and columns.
print('DataFrame shape')
print(df.shape)

DataFrame columns
Index(['id', 'Name', 'City', 'Country', 'IATA_FAA', 'ICAO', 'longitude',
       'latitude', 'altitude_ft', 'Timezone', 'DST', 'Area'],
      dtype='object')
DataFrame shape
(8107, 12)

In [4]:
print('Number of different countries ')
print(len(df.Country.unique()))

Number of different countries
240

In [5]:
print ('Number of different Time zones ',len(df.Timezone.unique()))

Number of different Time zones  38

In [6]:
print('Top 20 rows')

Top 20 rows

In [7]:

print(df.head(20))

    id                            Name            City           Country  \
0    1                          Goroka          Goroka  Papua New Guinea
1    2                          Madang          Madang  Papua New Guinea
2    3                     Mount Hagen     Mount Hagen  Papua New Guinea
3    4                          Nadzab          Nadzab  Papua New Guinea
4    5      Port Moresby Jacksons Intl    Port Moresby  Papua New Guinea
5    6                      Wewak Intl           Wewak  Papua New Guinea
6    7                      Narsarsuaq    Narssarssuaq         Greenland
7    8                            Nuuk        Godthaab         Greenland
8    9               Sondre Stromfjord     Sondrestrom         Greenland
9   10                  Thule Air Base           Thule         Greenland
10  11                        Akureyri        Akureyri           Iceland
11  12                     Egilsstadir     Egilsstadir           Iceland
12  13                    Hornafjordur            Hofn           Iceland
13  14                         Husavik         Husavik           Iceland
14  15                      Isafjordur      Isafjordur           Iceland
15  16  Keflavik International Airport        Keflavik           Iceland
16  17                  Patreksfjordur  Patreksfjordur           Iceland
17  18                       Reykjavik       Reykjavik           Iceland
18  19                    Siglufjordur    Siglufjordur           Iceland
19  20                  Vestmannaeyjar  Vestmannaeyjar           Iceland

   IATA_FAA  ICAO  longitude    latitude  altitude_ft  Timezone DST  \
0       GKA  AYGA  -6.081689  145.391881         5282      10.0   U
1       MAG  AYMD  -5.207083  145.788700           20      10.0   U
2       HGU  AYMH  -5.826789  144.295861         5388      10.0   U
3       LAE  AYNZ  -6.569828  146.726242          239      10.0   U
4       POM  AYPY  -9.443383  147.220050          146      10.0   U
5       WWK  AYWK  -3.583828  143.669186           19      10.0   U
6       UAK  BGBW  61.160517  -45.425978          112      -3.0   E
7       GOH  BGGH  64.190922  -51.678064          283      -3.0   E
8       SFJ  BGSF  67.016969  -50.689325          165      -3.0   E
9       THU  BGTL  76.531203  -68.703161          251      -4.0   E
10      AEY  BIAR  65.659994  -18.072703            6       0.0   N
11      EGS  BIEG  65.283333  -14.401389           76       0.0   N
12      HFN  BIHN  64.295556  -15.227222           24       0.0   N
13      HZK  BIHU  65.952328  -17.425978           48       0.0   N
14      IFJ  BIIS  66.058056  -23.135278            8       0.0   N
15      KEF  BIKF  63.985000  -22.605556          171       0.0   N
16      PFJ  BIPA  65.555833  -23.965000           11       0.0   N
17      RKV  BIRK  64.130000  -21.940556           48       0.0   N
18      SIJ  BISI  66.133333  -18.916667           10       0.0   N
19      VEY  BIVM  63.424303  -20.278875          326       0.0   N

                    Area
0   Pacific/Port_Moresby
1   Pacific/Port_Moresby
2   Pacific/Port_Moresby
3   Pacific/Port_Moresby
4   Pacific/Port_Moresby
5   Pacific/Port_Moresby
6        America/Godthab
7        America/Godthab
8        America/Godthab
9          America/Thule
10    Atlantic/Reykjavik
11    Atlantic/Reykjavik
12    Atlantic/Reykjavik
13    Atlantic/Reykjavik
14    Atlantic/Reykjavik
15    Atlantic/Reykjavik
16    Atlantic/Reykjavik
17    Atlantic/Reykjavik
18    Atlantic/Reykjavik
19    Atlantic/Reykjavik

In [8]:
city = df[['Country', 'City']].drop_duplicates().sort_values(['Country','City'], 
ascending = [True,True])
# Print the shape
print('Shape of header information ',city.shape)

Shape of header information  (7127, 2)

In [9]:
print('DataFrame types ',df.dtypes)
print('Top 20 city rows')
print(city.head(20))

DataFrame types  id               int64
Name            object
City            object
Country         object
IATA_FAA        object
ICAO            object
longitude      float64
latitude       float64
altitude_ft      int64
Timezone       float64
DST             object
Area            object
dtype: object
Top 20 city rows
          Country            City
7393  Afghanistan          Bamyan
6442  Afghanistan    Camp Bastion
6076  Afghanistan     Chaghcharan
4400  Afghanistan        Faizabad
2007  Afghanistan           Herat
2008  Afghanistan       Jalalabad
2009  Afghanistan           Kabul
2010  Afghanistan        Kandahar
6700  Afghanistan           Khost
2015  Afghanistan          Kunduz
7341  Afghanistan     Lashkar Gah
2011  Afghanistan         Maimama
2012  Afghanistan  Mazar-i-sharif
6838  Afghanistan           Shank
6717  Afghanistan          Sharan
6718  Afghanistan         Sharona
2014  Afghanistan      Sheberghan
2013  Afghanistan        Shindand
6074  Afghanistan      Tarin Kowt
6075  Afghanistan          Zaranj

In [10]:
mydb = client["Aviation"]
mycol = mydb["City"]
mycol.drop()

In [11]:
for row in city.itertuples():
# The itertuples() function is used to iterate over DataFrame rows as namedtuples.
    thiscity = (df[(df['Country']==row.Country) & (df['City']==row.City)])
    tc = thiscity[['id','Name','IATA_FAA', 'ICAO',
        'latitude','longitude','altitude_ft','Timezone','DST']]
    entries = json.dumps({
            "Country": row.Country,
            "City": row.City,
            "airports":tc.to_dict('records')
            })
                                                 
    x = mycol.insert_one(json.loads(entries))

In [12]:
client.close()